<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button *ngIf="!hideSettingsNavIcon" class="f-xx-large" (click)="onSettings()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="hideSettingsNavIcon" class="f-xx-large" (click)="onHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    <ion-text color="primary">
      <h1>{{ title }}</h1>
    </ion-text>
  </ion-title>
  <ion-buttons slot="end">
    <ion-button class="f-xx-large" (click)="onAdd()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
