.summary-layout {
  margin-bottom: -1.5rem;
  .btn-fy-select {
    margin-top: -0.5rem;
  }
}
.lbl-savings {
  font-size: xx-large;
  padding-left: 0.5rem;
}
.lbl-amount {
  font-size: large;
}
.small-text {
  font-size: smaller;
}
